/* general site formatting */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 11.5pt Georgia, 'DejaVu Serif', serif;
}

#site {
  width: 65em;
  text-align: left;
  line-height: 1.5em;
  margin: 2em auto 2em auto;
}
  #site .title {
    font-weight: bold;
  }
  #site .links {
    text-align: center;
  }
    #site .links a {
      text-decoration: none;
      color: #a00;
    }
    #site .contact a:hover {
      color: black;
    }

.title, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 105%;
}

.title {
  text-align: center;
  font-size: 130%;
}

.subtitle {
  text-align: center;
  font-size: 110%;
}


h1 {
  font-size: 110%;
  padding-top: 1ex;
  font-weight: bold;
}

h2 {
  padding-top: 1ex;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #00b;
}
  a:visited { color: #88b; }
  a:hover   { color: #008; }

ol {
  margin-left: 2.25em;
}

ul {
  margin-left: 1.8em;
  list-style-type: circle;
}

.figure {
  text-align: center;
}
  .figure p.note { font-size: 75%; }

hr {
  margin: 40px 0 10px 0;
}


/* blog post pages */

#blogpost {
  margin-bottom: 3em;
}
  #blogpost .timestamp {
    color: #aaa;
  }

#trackbacks {
  margin-bottom: 3em;
}

/* disqus comment threads */

#disqus_thread {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 85%;
}
  #dsq-pagination {
    font-size: 85%;
  }

.chaplink {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 90%;
}
.prevlink {
  float: left;
}
.nextlink {
  float: right;
}
