/* tweaks to formatting */

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3, h4, h5, h6 {
  font-size: 1.2em;
}

.navbar {
    min-height: 20px;    
}

.navbar .brand,
.navbar .nav > li > a {
    padding-top:    4px;
    padding-bottom: 4px;
    padding-left:  30px;
    padding-right: 30px;
}


.navbar .brand,
.my-sidebar .nav > li > a {
    padding-left:  3px;
    padding-right: 3px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #efefef;
}

.my-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 70em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pagination, .pagination > li > a, .pagination > li > span {
  min-height: 20px;    
  padding-top:    4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0em;
  background-color: transparent;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #dfdfdf;
}

li>p {
  margin-top: 1.2em;
}