<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Tom Short" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/site.css" type="text/css" media="screen, projection" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="my-container bs-docs-container">
        <div class="row">
    <div class="bs-docs-section">
          <div class="col-lg-12">
            <div class="bs-example">
{{ content }}
</div>
</div>
</div>
</div>

<br/><br/>

</body>
</html>
